

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 20px;
}
h1 {
    color: white;
    background-color: #1e90ff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #1e90ff;
    margin-top: 30px;
}


p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 4px solid #1e90ff;
}

ul, ol {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #1e90ff;
    color: white;
    padding: 10px;
}
td {
    padding: 10px;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    background-color: #1e90ff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0d6efd;
}